html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.navbar-custom {
    background-color: transparent;
    transition: background-color 0.4s, padding 0.4s;
    padding: 1rem 2rem;
}

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem;
}

.navbar-brand,
.navbar-nav .nav-link {
    transition: color 0.4s;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-nav .nav-link {
    color: #000 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.left-panel {
    background-color: #fff;
    color: black;
    padding: 5rem 2rem;
}

.left-panel h1 {
    margin-top: 0;
}

.left-panel ul {
    list-style: none;
    padding: 0;
}

.left-panel li {
    margin: 10px 0;
}

.right-panel {
    position: relative;
    background-color: #4d87d0;
    padding: 0rem 2rem;
}

.background-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 5rem;
    left: -10%;
    z-index: 1;
}

@media (max-width: 767px) {
    .left-panel,
    .right-panel {
        width: 100%;
    }

    .background-image {
        left: 0;
        height: 50vh;
    }
}

.title {
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}

.visit-link {
    text-decoration: none;
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
    font-weight: bold;
}

footer {
    background-color: #ffffff;
    color: #000;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #3a383896;
}

footer .btn {
    color: #6496d3;
}

footer hr {
    width: 100%;
    color: #000;
}

.navbar-custom.navbar-expanded {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom.navbar-expanded .nav-link {
    color: #6597d4 !important;
}

.navbar-custom.navbar-expanded .nav-item {
    text-align: center;
}