html {
    scroll-padding-top: 60px; /* Adjust this value to the height of your navbar */
  }
  
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar-custom {
    background-color: transparent;
    transition: background-color 0.4s, padding 0.4s;
    padding: 1rem 2rem;
}

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem;
}

.navbar-brand,
.navbar-nav .nav-link {
    transition: color 0.4s;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-nav .nav-link {
    color: #6597d4 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffffff 50%, #6597d4 50%);
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
}

.home-section .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.home-section .text-content {
    flex: 1;
    padding: 20px;
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}

.sm-text-content {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: #6496d3;
}


.cv {
    background-color: #6496d3;
    border: 1px solid #6496d3;
}

.cv:hover {
    background-color: #fff;
    color: #6496d3;
    border: 1px solid #6496d3;
}


.home-section .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('data:image/svg+xml;base64,PGRlZnMgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDIxNiAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEwOCwwYzU5LjYsMCwxMDgsNDguNCwxMDgsMTA4aC0yMThDLTAsNDguNCw0OC40LDAsMTA4LDBaIj48L3BhdGg+PC9kZWZzPg==');
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
    .home-section {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .home-section .content {
        flex-direction: column;
    }


    .home-section .text-content,
    .s-media {
        display: none !important;
    }

    .home-section .text-content,
    .home-section .image-content {
        flex: none;
        width: 100%;
    }

    .home-section .image-content img {
        width: 80%;
        height: auto;
    }
}

@media (min-width: 768.9px) {
    .sm-text-content {
        display: none;
    }

    .home-section .s-media {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width: 576px) {
    .home-section .image-content img {
        width: 100%;
        height: auto;
    }
}

.about-header {
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}

.about-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
@media (max-width: 991.9px) {
    .about-text, .about-header {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    }
}

.service-header {
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}

.project-header {
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}

.project-title {
    font-family: 'Baloo Paaji', cursive;
    color: #6496d3;
}
@media (max-width: 991.9px) {
    .service-header, .project-header, .project-title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    }
}

.swiper-container {
    width: 100%;
    max-width: 1100px;
    height: 400px;
    margin: 50px auto;
    overflow: hidden;
}



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    height: 300px;
    background: #6496d3;
    border-radius: 10px;
    transition: transform 0.3s, z-index 0.3s;
}

.swiper-slide.card {
    width: 55%;
}

@media (max-width: 488px) {
    .swiper-slide.card {
        width: 75%;
    }
}

@media (min-width: 488.9px) and (max-width: 866px) {
    .swiper-slide.card {
        width: 55%;
    }
}

@media (min-width: 866.9px) {
    .swiper-slide.card {
        width: 45%;
    }
}


.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8);
    z-index: 1;
    opacity: 0.6;
}

.swiper-slide-active {
    transform: scale(1);
    z-index: 2;
    opacity: 1;
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-pagination-bullet-active {
    background: #007bff;
}

@media (max-width: 768px) {
    .swiper-container {
        max-width: 100%;
        height: 300px;
    }

    .swiper-slide {
        height: 200px;
        font-size: 18px;
    }
}

.skills-container {
    font-family: 'Baloo Paaji', cursive;
    color: #ececec;
    background-color: #6496d3;
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
@media (max-width: 991.9px) {
    .skills-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    }
}


.skills-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/skills-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
}

.skills-container>* {
    position: relative;
    z-index: 10;
}

.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.word-cloud span {
    font-size: 24px;
    margin: 10px 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: animateWord 5s ease-in-out infinite;
}

@keyframes animateWord {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.word-cloud .html {
    font-size: 2.6rem;
    animation-delay: 0s;
}

.word-cloud .js {
    font-size: 2.5rem;
    animation-delay: 0.5s;
}

.word-cloud .jquery {
    font-size: 2rem;
    animation-delay: 1s;
}

.word-cloud .database {
    font-size: 2.4rem;
    animation-delay: 1.5s;
}

.word-cloud .laravel {
    font-size: 3rem;
    animation-delay: 2s;
}

.word-cloud .css {
    font-size: 2.6rem;
    animation-delay: 2.5s;
}

.word-cloud .php {
    font-size: 3rem;
    animation-delay: 3s;
}

.word-cloud .ajax {
    font-size: 2.3rem;
    animation-delay: 3.5s;
}

.word-cloud .bootstrap {
    font-size: 2.5rem;
    animation-delay: 4s;
}

.word-cloud .responsive {
    font-size: 2.2rem;
    animation-delay: 4.5s;
}

.word-cloud .git {
    font-size: 2.4rem;
    animation-delay: 5s;
}

.word-cloud .ui {
    font-size: 3rem;
    animation-delay: 5.5s;
}
.projects-section {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 34%, rgba(100, 150, 211, 0.5) 100%);
    overflow: hidden;
}

.project-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid hsla(213, 56%, 61%, 0.39);
    border-radius: 10px;
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-img {
    height: fit-content;
    object-fit: contain;
    width: 100%;
}

.project-content {
    padding: 20px;
}

.btn-view-more {
    background-color: #6496d3;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-view-more:hover {
    background-color: hsla(213, 56%, 61%, 0.637);
}

@media (max-width: 991px) {
    .project-card {
        margin-bottom: 20px;
    }
}

.navbar-custom.navbar-expanded {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom.navbar-expanded .nav-link {
    color: #6597d4 !important;
}

.navbar-custom.navbar-expanded .nav-item {
    text-align: center;
}

.navbar-custom.navbar-scrolled .nav-link.active {
    border-bottom: 3px solid #6597d4 !important;
    font-weight: bold;
}

.navbar-custom .nav-link.active {
    border-bottom: transparent !important;
}

@media (max-width: 992px) {
    .navbar-custom.navbar-scrolled .nav-link.active {
        border-bottom: transparent;
        border-radius: 5px;
        font-weight: normal;
        background-color: #6597d4;
        color: #fff !important;
    }

    .navbar-custom .nav-link.active {
        border-bottom: transparent;
        font-weight: normal;
        background-color: #6597d4;
        border-radius: 5px;
        color: #fff !important;
    }

}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #6597d4; /* Darker WhatsApp color on hover */
}

.whatsapp-button img {
    width: 60px; /* Adjust size as needed */
    height: 60px;
}

@media (max-width: 600px) {
    .whatsapp-button {
        width: 50px;
        height: 50px;
    }

    .whatsapp-button img {
        width: 50px;
        height: 50px;
    }
}
